body {
  --text: #dcf1e4;
  --background: #040905;
  --primary: #9cd6ae;
  --secondary: #34567e;
  --accent: #4d57b6;

  background-color: var(--background);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
html,
body,
#app {
  height: 100%;
}
.button {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  --background-color: var(--primary);
  --color: var(--background);

  &.primary {
    --background-color: var(--primary);
    --color: var(--background);
    background-color: var(--background-color);
    color: var(--color);
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 20px 80px -10px var(--background-color);
  }
}
.hidden {
  display: none;
}

.dropdown-menu-list {
  --border-radius: 0.5rem;
  --top: 0;
  --left: 0;

  position: fixed;
  top: var(--top);
  left: var(--left);

  background-color: var(--secondary);
  border-radius: var(--border-radius);
  min-width: 8rem;
  list-style: none;
  padding: 0px;
  margin: 0;

  & > li {
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: var(--background);
    }
  }
  & > li:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
  & > li:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

#element-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#app,
#__next {
  isolation: isolate;
}
